#status-challenge {

    span {
        display: none;
    }
    .failed {
        display: block;
        color: red;
    }
    .success {
        .ok {
            display: block;
            color: green;
        }
        .failed {
            display: none;
        }
    }
}